@import "../../../styles/theme-colors";

.favourite-icon {
  color: $theme-purple;
  cursor: pointer;
}

.cryptoicon {
  height: 1rem;
  width: 1rem;
}

.cryptocurrency-symbol {
  color: $theme-dark-grey;
}

