@import "../../../styles/theme-colors";

.favourite-icon {
  color: $theme-purple;
  cursor: pointer;
}

.cryptocurrency-name-container {
  display: flex;
  align-self: end;
}

.cryptocurrency-symbol {
  color: $theme-dark-grey;
}

