<!--
Webstorm doesn't support this syntax yet ;(
@if (cryptocurrencies$ | async; as cryptocurrencies) {

} else {}
-->

<ng-container *ngIf="cryptocurrencies$ | async as cryptocurrencies">
  <table mat-table [dataSource]="cryptocurrencies">

    <ng-container matColumnDef="favourite">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div (click)="toggleFavouriteProperty(element.id)" class="favourite-icon">
          <ng-container *ngIf="element.favourite; else notFavourite">
            <mat-icon aria-hidden="false" aria-label="Favourite icon" fontIcon="star"></mat-icon>
          </ng-container>
          <ng-template #notFavourite>
            <mat-icon aria-hidden="false" aria-label="Favourite icon" fontIcon="star_border"></mat-icon>
          </ng-template>

        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element">{{ element.rank }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <span class="cryptocurrency-name-container">
          <app-cryptocurrency-icon [cryptocurrencySymbol]="element.symbol"></app-cryptocurrency-icon>
          <span class="element-name">{{ element.name }}</span>
          <span class="cryptocurrency-symbol">{{ element.symbol }}</span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="align-right">Price</th>
      <td mat-cell *matCellDef="let element" class="align-right">{{ element.quotes.USD.price | currency | spaceNumberDelimiter  }}</td>
    </ng-container>

    <ng-container matColumnDef="hour">
      <th mat-header-cell *matHeaderCellDef class="align-right">1h%</th>
      <td mat-cell *matCellDef="let element" class="align-right">{{ element.quotes.USD.percent_change_1h | percent | spaceNumberDelimiter | positiveNumberMark }}</td>
    </ng-container>

    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef class="align-right">24h%</th>
      <td mat-cell *matCellDef="let element" class="align-right">{{ element.quotes.USD.percent_change_24h | percent | spaceNumberDelimiter  }}</td>
    </ng-container>

    <ng-container matColumnDef="week">
      <th mat-header-cell *matHeaderCellDef class="align-right">7d%</th>
      <td mat-cell *matCellDef="let element" class="align-right">{{ element.quotes.USD.percent_change_7d | percent | spaceNumberDelimiter  }}</td>
    </ng-container>

    <ng-container matColumnDef="marketCap">
      <th mat-header-cell *matHeaderCellDef class="align-right">Market Cap</th>
      <td mat-cell *matCellDef="let element" class="align-right">{{ element.quotes.USD.market_cap | spaceNumberDelimiter }}</td>
    </ng-container>

    <ng-container matColumnDef="volumeDay">
      <th mat-header-cell *matHeaderCellDef class="align-right">Volume (24h)</th>
      <td mat-cell *matCellDef="let element" class="align-right">{{ element.quotes.USD.volume_24h | spaceNumberDelimiter }}</td>
    </ng-container>

    <ng-container matColumnDef="circulatingSupply">
      <th mat-header-cell *matHeaderCellDef class="align-right">Circulating Supply</th>
      <td mat-cell *matCellDef="let element" class="align-right">{{ element.circulating_supply | spaceNumberDelimiter }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'details/' + row.id"></tr>
  </table>
</ng-container>

